@charset "UTF-8";
@import 'base',
'animations';
@font-face {
    font-family: 'Inter Variable';
    src: url('/public/fonts/inter.ttf');
}

@font-face {
    font-family: 'Martian Mono';
    src: url('/public/fonts/martian-mono.ttf');
}